# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.db-journal
*.db
# Knowledge base
**/knowledge_base/
# Node / Frontend
node_modules/
.next/
out/
build/
.dist/
dist/
*.tsbuildinfo
Content-Processing-Agent/knowledge_base/
# Environment variables & secrets
.env
.env.local
.env.*.local

# Operating System & Editors
.DS_Store
Thumbs.db
.vscode/
.idea/
*.zip
*.mp3
